<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
</head>
<body>
  <h1>Welcome!</h1>
  <p>You are logged in.</p>

  <form style="display: inline-block;">  
    <form action="/historic" method="post" style="display: inline-block;">
      <button type="submit">Historic</button>
    </form>
    <form action="/changeAlarmValues" method="post" style="display: inline-block;">
      <button type="submit">Change Alarm Values</button>
    </form>
    <form action="/getPin" method="post" style="display: inline-block;">
      <button type="submit">Get PIN</button>
    </form>
    <form action="/logout" method="post" style="display: inline-block;">
      <button type="submit">Logout</button>
    </form>
  </form>

  <div id="data-container">
    <p>**Temperature:** {{ data['temperature'] }}</p>
    <p>**Humidity:** {{ data['humidity'] }}</p>
    <p>**Luminosity:** {{ data['luminosity'] }}</p>
    <p>**Water Leaks:** {{ data['waterLeaks'] }}</p>
  </div>
</body>
</html>
