<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="5">
<head>
  <title>Main Page</title>
</head>
<body>
  <h1>Welcome!</h1>
  <p>You are logged in.</p>

  <h2>Current Status:</h2>
  <div id="data-container">
    <p>Temperature: {{ data['temperature'] }} &deg;C</p>
    <p>Humidity: {{ data['humidity'] }} &percnt;</p>
    <p>Luminosity: {{ data['luminosity'] }}</p>
    <p>Water Leaks: {{ data['waterLeaks'] }}</p>
    <p>Last update was at <b>{{ data['timestamp'] }}</b></p>
  </div>

    <form action="/analytics" method="get" style="display: inline-block;">
      <button type="submit">Analytics</button>
    </form>
    <form action="/changeAlarmValues" method="get" style="display: inline-block;">
      <button type="submit">Change Alarm Values</button>
    </form>
    <form action="/getPin" method="get" style="display: inline-block;">
      <button type="submit">Get PIN</button>
    </form>
    <form action="/logout" method="get" style="display: inline-block;">
      <button type="submit">Logout</button>
    </form>
</body>
</html>
